	<header id="header_mainNav">
		<nav class="mainNav_nav">
			<a class="mainNav_logo" href="/"></a>
			<ul class="mainNav_ul">
				<li class="mainNav_li"><a class="mainNav_li" href="/Stories">Stories</a></li>
				<li class="mainNav_li"><a class="mainNav_li" href="/Teams">Teams</a></li>
				<li class="mainNav_li"><a class="mainNav_li" href="/Plug-in">Plug-in</a></li>
				<li class="mainNav_li"><a class="mainNav_li" href="/Jobs">Jobs</a></li>
			</ul>
		</nav>
	</header>